body{
    background-image:url(../images/DataCenterGuy.jpg);
    background-repeat: no-repeat;
    margin: 0;
    overflow-x:hidden;
    overflow-y:scroll;
    max-width: 100%;
}

.topbar{
    width: 100%;
    height: 3em;
    margin: 0;
    background-color: white;
    border-bottom: solid lightblue 1px;
}

.topbar p{
    position: relative;
    color: black;
    top: calc(50% - 0.7em);
    display: inline;
    margin-right: 5%;
    font-size: 15px;
}

.selected{
    border-bottom: darkblue solid 4px;
    border-radius: 2px;
    padding-bottom: 1.4em;
    margin-bottom: -1.4em;
}

.tertiary{
    height: 5em;
    background-color: white;
    min-width:max-content;
    overflow:auto;
    white-space: nowrap; 
    display:flex;
    flex-direction: row;
    justify-items:center;
    margin-left: 0;
}

.tertiary img{
    margin-left: 0;
    display: inline-block;
    height: 5em;

}

.tertiary p{
    font-size: 19px;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.mainimage{
    position:absolute;
    left:0;
    top: 450px;
    border: black solid 2px;
    height:450px;
    width:auto;
}

#mainoptions{
    display:inline;
    width:100%;
}

main{
    position: absolute;
    width: 60%;
    height: 500px;
    background-color: white;
    border: black solid 2px;
    right: 1px;
    top: 400px;
}

.contactinfo{
    display:flex;
    flex-direction:column;
    max-height: 20em;
    flex-wrap:wrap;
}

.contactinfo div:first-of-type{
    margin-top: 1em;
    margin-left: 2em;
}

.submit{
    margin: 2em;
}

#submit{
    height: 3em;
    width: 16em;

}

.ebegging{
    display:flex;
    flex-direction:row;
}
.ebegging ul{
    width: 40%;
}

.ebeggingctn{
    position:absolute;
    right:5em;
}